{%extends 'layout.html'%}
{%block body%}

<div class="col-md-4 offset-md-4 offset-md-4">
    <div class="card border-dark mb-3" style="max-width: 20rem;">
        <div class="card-header">Editar empleado</div>
        <div class="card-body">
            <form action="/update/{{employee.0}}" method="POST">
                {{ form.csrf_token }}
                <div class="form-group">
                    <label class="col-form-label">Nombre</label>
                    <input class="form-control" type="text" name="firstname" placeholder="Nombre" value="{{employee.1}}">
                </div>
                {%for error in form.firstname.errors%}
                <div class="alert alert-dismissible alert-danger">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                        {{error}}
                </div>
                {%endfor%}
                <div class="form-group">
                    <label class="col-form-label">Apellido</label>
                    <input class="form-control" type="text" name="lastname" placeholder="Apellido" value="{{employee.2}}">
                </div>
                {%for error in form.lastname.errors%}
                <div class="alert alert-dismissible alert-danger">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                        {{error}}
                </div>
                {%endfor%}
                <div class="form-group">
                    <label class="col-form-label">Fecha de nacimiento</label>
                    <input class="form-control" type="text" name="dateofbirth" placeholder="aaaa/mm/dd" value="{{employee.3}}">
                </div>
                {%for error in form.dateofbirth.errors%}
                <div class="alert alert-dismissible alert-danger">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                        {{error}}
                </div>
                {%endfor%}
                <div class="form-group">
                    <label class="col-form-label">Género</label>
                    <select class="form-control" name="gender" placeholder="Género" value="{{employee.4}}">
                        <option value="M">Masculino</option>
                        <option value="F">Femenino</option>
                    </select>
                </div>
                {%for error in form.gender.errors%}
                <div class="alert alert-dismissible alert-danger">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                        {{error}}
                </div>
                {%endfor%}
                <div class="form-group">
                    <label class="col-form-label">Fecha de contratación</label>
                    <input class="form-control" type="text" name="hiredate" placeholder="aaaa/mm/dd" value="{{employee.5}}">
                </div>
                {%for error in form.hiredate.errors%}
                <div class="alert alert-dismissible alert-danger">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                        {{error}}
                </div>
                {%endfor%}
                <div class="form-group">
                    <label class="col-form-label">Teléfono</label>
                    <input input class="form-control" type="text" name="phone" placeholder="Teléfono" value="{{employee.6}}">
                </div>
                {%for error in form.phone.errors%}
                <div class="alert alert-dismissible alert-danger">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                        {{error}}
                </div>
                {%endfor%}
                <div class="form-group">
                    <label class="col-form-label">Email</label>
                    <input input class="form-control" type="text" name="email" placeholder="Email" value="{{employee.7}}">
                </div>
                {%for error in form.email.errors%}
                <div class="alert alert-dismissible alert-danger">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                        {{error}}
                </div>
                {%endfor%}
                <div class="form-group">
                    <label class="col-form-label">Designación</label>
                    <select class="form-control" name="designation" placeholder="Designación" value="{{employee.8}}">
                        <option value="Gerente">Gerente</option>
                        <option value="Empleado">Empleado</option>
                        <option value="Contratado">Contratado</option>
                    </select>
                </div>
                {%for error in form.designation.errors%}
                <div class="alert alert-dismissible alert-danger">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                        {{error}}
                </div>
                {%endfor%}
                <div class="form-group">
                    <button type="submit" class="btn btn-success btn-lg btn-block">
                        Guardar
                    </button>
                </div>
            </form>
        </div>
      </div>
</div>


{%endblock%}